nav.px-4.my-navbar
    a(href='').logo-link                 
        img.logo.h-100(src='img/gsplogowhite.svg')
    .nv-collapse
        ul.nv-list.h-100
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center(href='#')
                    span.oneLineText Haqqımızda
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center(href='#')
                    span.oneLineText Xidmətlər
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center(href='#')
                    span.oneLineText Həllər
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center(href='#')
                    span.oneLineText Layihələrimiz
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center(href='#')
                    span.oneLineText Əlaqə
        .search
            label.search-btn.position-relative(for='search-input')
                i.fa.fa-search.search-icon
                .shield.position-absolute
            form.search-form
                input#search-input.search-input(type='text', name='search-input', placeholder='Axtarış edin')
                .times-icon 
                    | &times;
    .hamburger
        div
        div